<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/css/styles_dashboard.css">
  <title>Document</title>
</head>
<body>
  <header class="header-movil">
    <nav class="menu-dbr">
      <a href="#" class="titulo-movil">MASTER FREIGHT</a>
      <ul class="menu-movil">
        <li class="menu-movil-item busqueda-movil">
          <form action="/search" method="GET" class="search-form">
            <input type="text" placeholder="Buscar..." name="gps-usuario" class="search-input">
            <button type="submit" class="search-button">🔍</button>
          </form>
        </li>
        <li href="#" id="------" class="menu-movil-item"><a class="title-menu title-link">Mi Ubicación</a></li>
        <li class="menu-movil-item"><a class="title-menu title-link">Perfil</a></li>
        <li class="menu-movil-item dropdown-menu-parent">
          <a class="title-menu title-link dropdown-toggle" href="mailto:info@masterfreight.com">Contacto</a>
          <ul class= "dropdown-menu">
            <li><a href="mailto:info@masterfreight.com">📧 Correo (Gmail/Outlook)</a></li>
            <li><a href="tel:+12345678900">📞 Llamar por teléfono</a></li>
          </ul>
        </li>
      </ul>
    </nav>
  </header>
  <!-- mapa de ubicacion del cliente-->
  <div class="mapa-cliente-dashboard">
    <iframe width="100%" height="790px" src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d2897.1989238570704!2d-68.8259246524316!3d-33.03268528776502!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ses-419!2sar!4v1763919420598!5m2!1ses-419!2sar"></iframe>
  </div>
</body>
</html>