<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
    <header class="header">
        <nav class="nav">
            <img src="/static/imagen/titulo_marca.png" alt="logo" class="Logo">
            <ul class="nav-menu">
                <li class="nav-menu-item">
                    <a href="/home" class="nav-menu-link nav-link">Home</a></li>
                <li class="nav-menu-item">
                    <a href="/nosotros" class="nav-menu-link nav-link">Nosotros</a></li>
                <li class="nav-menu-item">
                    <a href="#servicio" class="nav-menu-link nav-link">Servicios</a></li>
                <li class="nav-menu-item">
                    <a href="/contacto" class="nav-menu-link nav-link">Contacto</a></li>
                <li class="nav-menu-item" >
                    <a href="/reserva"class="nav-menu-link nav-link">Reserva de flete</a></li>
            </ul>
        </nav>
    </header>
    <img src="/static/imagen/logo.png" alt="Etiqueta-logo" class="logo-home">
    <img src="/static/imagen/titulo_marca.png" alt="Etiqueta-logo" class="titulo-home">
    <footer class="footer">
        &copy; 2025 Máster Freight — Todos los derechos reservados.
    </footer>
</body>
</html>
