<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://kit.fontawesome.com/7e5b2d153.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
    <header class="header">
        <nav class="nav">
          <img src="/static/imagen/logo.png" alt="Logo" class="Logo">
          <button class="toggle"><i class="fa-regular fa-bars"></i></button>
          <ul class="nav-menu">
            <li class="nav-menu-item"><a href="/home" class="nav-menu-link nav-link">Home</a></li>
            <li class="nav-menu-item"><a href="/nosotros" class="nav-menu-link nav-link">Nosotros</a></li>
            <li class="nav-menu-item">
                <a href="/servicios" class="nav-menu-link nav-link">servicios</a></li>
            <li class="nav-menu-item">
                <a href="/contacto" class="nav-menu-link nav-link">contacto</a></li>
            <li class="nav-menu-item" >
                <a href="/Reserva"class="nav-menu-link nav-link">reserva de flete</a></li>
            <li><a href="#"><span class="bars"></span></a></li>
          </ul>
          <!-- panel Usuario-->
        <div id="userPanel" style="display: none; display: flex; align-items: center; gap: 10px;">
            <img id="profilePic" src="/static/uploads/default.png" alt="Profile" style="width: 48px; height: 48px; border-radius: 50%;">
            <div>
                <span id="username" style="font-weight: bold;">Invitado</span><br>
                <span id="role" style="font-size: 0.8em; color: gray;">-</span>
            </div>
            <a href="/perfil" class="nav-menu-link">perfil</a>
        </div>
        </nav>
    </header>
    <div class="contenedor-home">
        <img src="/static/imagen/fondo-home.png" alt="fondo de camion" class="fondo-camion">
    </div>

    <!-- Botones públicos -->
    <button id="loginBtn" class="nav-menu-link register-sesion-butom">Iniciar sesión</button>
    <button id="registerBtn" class="nav-menu-link register-sesion-butom">Registrarse</button>

    <div class="contenedor-marca">
        <img class="titulo-marca" src="/static/imagen/titulo_marca.png" alt="nombre de la plataforma">
        <div class="txt">
            <h1 style="color: black; font-size: 3em;">Servicio de Fletes y Minifletes en toda <span style="color: rgb(29, 38, 136);">MENDOZA</span> </h1>
            <p style="color: black; font-size: 1.2em;">Soluciones rápidas, seguras y al mejor precio. Presupuesto inmediato y sin compromiso.</p>
        </div>
    </div>
    <h1 style="padding: 30px 400px;">Nosotos Brindamos a Nuestros cliente</h1>
    <ul class="filas-bap">
        <li class="posicion-bap">
            <img class="etiqueta-modofic" src="/static/imagen/Etiqueta1.png" alt="confiansa">
            <h2>Confiansa</h2>
        </li>
        <li class="posicion-bap">
            <img class="etiqueta-modofic" src="/static/imagen/Etiqueta2.png" alt="seguridad">
            <h2>Seguridad</h2>
        </li>
        <li class="posicion-bap">
            <img class="etiqueta-modofic" src="/static/imagen/Etiqueta3.png" alt="eficiencia">
            <h2>Eficiencia</h2>
        </li>
        <li class="posicion-bap">
            <img class="etiqueta-modofic" src="/static/imagen/Etiqueta4.png" alt="comunicacion">
            <h2>Comunicacion</h2>
        </li>
    </ul>
    <h3 style="padding: 50px 500px;">Las responsavilidad que el brindamos</h3>
    <ul class="information-table">
        <li class="information-model">Transporte Seguro: <p class="information-text">Operar el vehículo (camión, camioneta) de manera segura y eficiente, respetando las leyes de tráfico y los horarios de entrega.</p> </li>
        <li class="information-model">Carga y Descarga: <p class="information-text">Asegurar la correcta manipulación, carga, distribución y sujeción de la mercancía o los enseres para evitar daños durante el trayecto.</p> </li>
        <li class="information-model">Servicio al Cliente: <p class="information-text">Interactuar con el cliente en los puntos de origen y destino, garantizando una entrega amable y conforme a las instrucciones.</p> </li>
    </ul>

    <footer>
        &copy; 2025 Máster Freight — Todos los derechos reservados.
    </footer>
     <script src="/static/js/home.js"></script>
</body>
</html>
