<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
    <header class="header">
        <nav class="nav">
            <img src="/static/imagen/titulo_marca.png" alt="logo" class="Logo">
          <ul class="nav-menu">
            <li class="nav-menu-item">
                <a href="home.html" class="nav-menu-link nav-link">Home</a></li>
            <li class="nav-menu-item">
                <a href="#nosotro" class="nav-menu-link nav-link">nosotro</a></li>
            <li class="nav-menu-item">
                <a href="#servisio" class="nav-menu-link nav-link">servicios</a></li>
            <li class="nav-menu-item">
                <a href="#contacto" class="nav-menu-link nav-link">contacto</a></li>
            <li class="nav-menu-item" >
                <a href="#reserva-de-flete"class="nav-menu-link nav-link">reserva de flete</a></li>
          </ul>
        </nav>

    </header>
    <img src="/static/imagen/logo.png" alt="Etiqueta-logo" class="logo-home">
    <img src="/static/imagen/titulo_marca.png" alt="Etiqueta-logo" class="titulo-home">
</body>
</html>
