<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reserva de Flete</title>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
    <!-- Menú superior -->
    <header class="header">
        <nav class="nav">
            <img src="/static/imagen/logo.png" alt="logo" class="Logo">
          <ul class="nav-menu">
            <li class="nav-menu-item">
                <a href="/home" class="nav-menu-link nav-link">Home</a></li>
            <li class="nav-menu-item">
                <a href="/nosotros" class="nav-menu-link nav-link">Nosotros</a></li>
            <li class="nav-menu-item">
                <a href="#servicio" class="nav-menu-link nav-link">Servicios</a></li>
            <li class="nav-menu-item">
                <a href="Contacto.html" class="nav-menu-link nav-link">contacto</a></li>
            <li class="nav-menu-item" >
                <a href="/reserva"class="nav-menu-link nav-link">Reserva de flete</a></li>
          </ul>
        </nav>

    </header>
    

    <section class="form-register">
        <h4>Reservacion</h4>
        <input class="ingreso" type="text" name="nombre" id="nombre" placeholder="Nombre">
        <input class="ingreso" type="tel" name="telefono" id="telefono" placeholder="Telefono">
        <input class="ingreso" type="email" name="correo" id="correo" placeholder="Correo electronico">
        <input class="ingreso" type="text" name="desde" id="desde" placeholder="Desde">
        <input class="ingreso" type="text" name="hasta" id="hasta" placeholder="Hasta">
        
        <label style="font-family: Arial, Helvetica, sans-serif;">tipo de mudanza</label>
        <div class="checkbox-group">
            <label class="opcion-mudanza"><input type="checkbox" name="tipoMudanza" value="Casa">Casa</label>
            <label class="opcion-mudanza"><input type="checkbox" name="tipoMudanza" value="Oficina">Oficina</label>
            <label class="opcion-mudanza"><input type="checkbox" name="tipoMudanza" value="Departamento">Departamento</label>
            <label class="opcion-mudanza"><input type="checkbox" name="tipoMudanza" value="SistemaIntegral">Sistema Integral</label>
            <label class="opcion-mudanza"><input type="checkbox" name="tipoMudanza" value="Sistema americano">Sistema americano</label>
        </div>
        <input class="botons-reserva" type="submit" value="Enviar">
        
    </section>
    <footer>
        &copy; 2025 Máster Freight — Todos los derechos reservados.
    </footer>
</body>
</html>