<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/styles.css">
    <link rel="stylesheet" href="/static/css/stylesv2.css">
</head>
<body>
    <div class="header-bar">
        <h2> Master Freight - Fletero</h2>
        <h2 class="fw-bold" style="transform: translate(-100px, 20px);">Bienvenido:<span id="username"></span></h2>
        <div class="cliente-container text-center">
        <!-- BOTONES PRINCIPALES -->
        <button class="btn-master" onclick="location.href='/cliente/solicitudes'">
            <a href="/solicitudes"></a>
            Ver mis Solicitudes
        </button>

        <button class="btn-master" onclick="location.href='/cliente/solicitar'">
            <a href="/reserva"></a>
            Solicitar Flete
        </button>

        <button class="btn-master" onclick="location.href='/cliente/perfil'">
            <a href="/perfil-fletero"></a>
            Perfil
        </button>

        <br><br>
        <h3 class="fw-bold">Panel Del Cliente</h3>

    </div>
    </div>
</body>
</html>