<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/styles.css">
    <link rel="stylesheet" href="/static/css/stylesv2.css">
</head>
<body>
    <div class="cuadro_fletero">
        <h2> Master Freight - Fletero</h2>
        
        <div class="cliente-container text-center">
        <!-- BOTONES PRINCIPALES -->
         <h2 class="fw-bold" style="transform: translate(-90px, 110px);">Bienvenido:<span id="username"></span></h2>
        <button class="btn-master" onclick="location.href='/cliente/solicitudes'">
            <a href="/Viajes_disponibles"></a>
            Viajes Disponible
        </button>

        <button class="btn-master" onclick="location.href='/cliente/solicitar'">
            <a href="/Mi_Veiculo"></a>
            Mi Veiculo
        </button>

        <button class="btn-master" onclick="location.href='/cliente/perfil'">
            <a href="/perfil"></a>
            Perfil
        </button>

    </div>
    </div>
</body>
</html>