<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
    <!-- Menú superior -->
    <header class="header">
        <nav class="nav">
            <img src="/static/imagen/logo.png" alt="logo" class="Logo">
          <ul class="nav-menu">
            <li class="nav-menu-item">
                <a href="/home" class="nav-menu-link nav-link">Home</a></li>
            <li class="nav-menu-item">
                <a href="/nosotros" class="nav-menu-link nav-link">Nosotros</a></li>
            <li class="nav-menu-item">
                <a href="/servicio" class="nav-menu-link nav-link">Servicios</a></li>
            <li class="nav-menu-item">
                <a href="/contacto" class="nav-menu-link nav-link">contacto</a></li>
            <li class="nav-menu-item" >
                <a href="/reserva"class="nav-menu-link nav-link">Reserva de flete</a></li>
          </ul>
        </nav>

    </header>
    

<body class="d-flex justify-content-center align-items-center vh-100">
    <div class="card-2 p-4" style:"width:400px;">
        <h3 class="text-center">Register</h3>

        <form id="registerForm" >
            <input type="text" class="form-control mb-2" placeholder="username" name="username" required>
            <input type="email" class="form-control mb-2" placeholder="example@gmail.com" name="email" required>
            <input type="password" class="form-control mb-2" placeholder="ingrese su contraseña" name="password" required>

            <!-- Campo de rol -->
            <select class="form-control mb-2" name="role" required>
                <option value="cliente" select>Cliente</option>
                <option value="fletero">Fletero</option>
            </select>

            <button class="btn btn-success w-100" type="submit">Register</button>
        </form>
        <p class="mt-2 text-center"><a href="/login">Login</a></p>
    </div>
    <script src="/static/js/register.js"></script>
    
</body>
</html>